<h1><%= @account.name %></h1>

Total Hours: <%= @account.account_entries.sum(:time) %>
Total Cost: $<%= (@account.account_entries.map &:cost).sum %>

<h4>Account Entries</h4>

<table>
	<% @account.account_entries.each do |entry| %>
	<tr>
		<td><%= entry.created_at %></td>
		<td><%= entry.employee.name %></td>
		<td><%= entry.time %> hours</td>
	</tr>
	<% end %>
</table>